<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B2161D991EF6439B00B70DDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2CBBA291EFB8D6900C54993</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2CBBA371EFB8EC400C54993</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2CBBA451EFB8F1C00C54993</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
